* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: green;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.navbar ul li {
  font-size: 1.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.main h1 {
  margin-top: 20px;
  text-align: center;
  font: 'Times New Roman';
  color: #fff;
  /* color: black; */
}

.main hr {
  margin-top: 10px;
  color: #4caf50;
}

.main h2 {
  color: #4caf50;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main .twoSection {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 90px;
}

.main .twoSection img {
  width: 50%;
}

.main .twoSection p {
  width: 40%;
  text-align: justify;
  color: #fff;
}

.footer {
  background-color: green;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
